{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block sub_menu %}
<ul>
    <li class="active"><a href="/" title="Подбор вузов">Подбор вузов</a></li>
    <li><a href="/highschools/rating/" title="Рейтинг">Рейтинг</a></li>         
    <li><a href="/my/" title="Рейтинг">Избранные вузы</a></li>      
</ul>
{% endblock %}

{% block heading %}		
	{% include "blocks/searchform.html" %}
    <div class="presenter books">
        <div class="container content">            
            <h2>ХочуПоступить.рф — интеллектуальный сервис, помогающий абитуриентам выбрать высшее учебное заведение</h2>
        </div>
    </div>
{% endblock %}

{% block content %}          
<div class="row content">
    <div class="col l7">
        <img src="{% static 'img/how-it-works.png' %}" width="100%">            
    </div>
    <div class="col l5 side">
        <h1>Как это работает</h1>
        <br>
        <h4>Пользуясь открытыми данными, предоставленными открытым правительством, министерством образования РФ, а также приказах о зачислении размещенных на сайтах вуза, мы проводим индивидуальныю аналитику на основе анализа поведения поступающих в предыдущем году.</h4>
    </div>
</div>   
{% endblock %}