{% extends 'layout.html' %}
{% block title %}Специальности{% endblock %}

{% block sub_menu %}
<ul>
    <li class="active"><a href="/" title="Подбор вузов">Список специальностей</a></li>    
</ul>
{% endblock %}

{% block content %}
	<h1>Специальности</h1>
    
    {% for gkey,gv in groups.items %}
    <div class="row content">
		<h3>{{ gv.group.name }}</h3>
        <div class="row content">
            {% for s in gv.specs %}
            <div class="card row small">
                <p><a href="/spec/{{s.id}}/">{{ s.name }}</a></p>
            </div>
		    {% endfor %}            
        </div>
    </div>
	{% endfor %}
{% endblock %}